<bh-manager-panel header="Schedule" (onCreate)="createGame()" class="managers">
  <div class="manager">
    <mat-selection-list>
      <mat-list-option *ngFor="let game of schedule">
        <div class="member-row">
          <span>{{game.date | date:'shortDate'}} {{game.time}} - {{game.location}} Field # {{game.fieldNumber}}</span>
          <div class="editPanel">
            <button mat-button (click)="editLineup(game)">
              <mat-icon matListIcon>format_list_numbered</mat-icon>
            </button>
            <button mat-button (click)="updateGame(game)">
              <mat-icon matListIcon>create</mat-icon>
            </button>
            <button mat-button (click)="deleteGame(game)">
              <mat-icon matListIcon>clear</mat-icon>
            </button>
          </div>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </div>

  <div class="manager">
    <bh-lineup></bh-lineup>
  </div>
</bh-manager-panel>
